<!-- start custom analytics snippet -->
<meta name="google-site-verification" content="OuTOvsU_FHuRCPHfaZTK-Z9hBS8Xp_oitjm_slxjA8I" />
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2C2E9P8GR1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-2C2E9P8GR1');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2C2E9P8GR1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2C2E9P8GR1');
</script>
<!-- end custom analytics snippet -->